@font-face {
  font-family: "iconfont"; /* Project id 2674525 */
  src: url('//at.alicdn.com/t/font_2674525_b54vqc6jp4h.woff2?t=1648982098046') format('woff2'),
       url('//at.alicdn.com/t/font_2674525_b54vqc6jp4h.woff?t=1648982098046') format('woff'),
       url('//at.alicdn.com/t/font_2674525_b54vqc6jp4h.ttf?t=1648982098046') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shejiao-geren:before {
  content: "\e623";
}

.icon-shejiao-shoucang:before {
  content: "\e624";
}

.icon-shejiao-shouji:before {
  content: "\e625";
}

.icon-shejiao-hezuo:before {
  content: "\e626";
}

.icon-shejiao-tuandui:before {
  content: "\e627";
}

.icon-shejiao-tongxunlu:before {
  content: "\e628";
}

.icon-shejiao-tongzhi:before {
  content: "\e629";
}

.icon-shejiao-youxiang:before {
  content: "\e62a";
}

.icon-shejiao-weixin:before {
  content: "\e62b";
}

.icon-shejiao-yinle:before {
  content: "\e62c";
}

.icon-shejiao-xianshiqi:before {
  content: "\e62d";
}

.icon-shejiao-QQ:before {
  content: "\e62e";
}

.icon-shejiao-duihuakuang:before {
  content: "\e62f";
}

.icon-shejiao-dianzan:before {
  content: "\e630";
}

.icon-shejiao-fenxiang:before {
  content: "\e631";
}

.icon-shejiao-xiangji:before {
  content: "\e632";
}

.icon-shejiao-wangluo:before {
  content: "\e633";
}

.icon-shejiao-fenxiang1:before {
  content: "\e634";
}

.icon-shejiao-dianhua:before {
  content: "\e635";
}

.icon-shejiao-duihuakuang1:before {
  content: "\e636";
}

.icon-xiala:before {
  content: "\e638";
}

.icon-new:before {
  content: "\e603";
}

.icon-star:before {
  content: "\e604";
}

.icon-hot:before {
  content: "\e605";
}

.icon-arrowup:before {
  content: "\e606";
}

.icon-arrowdown:before {
  content: "\e608";
}

.icon-menu2:before {
  content: "\e609";
}

.icon-paper:before {
  content: "\e60a";
}

.icon-editor:before {
  content: "\e60b";
}

.icon-label_fill:before {
  content: "\e60c";
}

.icon-link:before {
  content: "\e60d";
}

.icon-sort:before {
  content: "\e60e";
}

.icon-share:before {
  content: "\e60f";
}

.icon-schedule:before {
  content: "\e610";
}

.icon-home2:before {
  content: "\e611";
}

.icon-chakan:before {
  content: "\e612";
}

.icon-print:before {
  content: "\e613";
}

.icon-menu:before {
  content: "\e614";
}

.icon-qr-code:before {
  content: "\e615";
}

.icon-stack:before {
  content: "\e616";
}

.icon-timerauto:before {
  content: "\e617";
}

.icon-off-search:before {
  content: "\e618";
}

.icon-speechbubble:before {
  content: "\e619";
}

.icon-calendar2:before {
  content: "\e61a";
}

.icon-arrowleft:before {
  content: "\e61b";
}

.icon-arrowright:before {
  content: "\e61c";
}

.icon-localoffer:before {
  content: "\e61d";
}

.icon-nav-search:before {
  content: "\e61e";
}

.icon-repeat:before {
  content: "\e61f";
}

.icon-folder:before {
  content: "\e620";
}

.icon-home:before {
  content: "\e621";
}

.icon-menu21:before {
  content: "\e622";
}

